@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Szerelőműhely</h1>
    <p>Dokumentáld a szervízed működését.</p>
    <p>A munkafolyamatoktól a beszerelt alkatrészeken át a felhasznált anyagokig jegyezz fel mindent, hogy átláthatóbb legyen céged működése.</p>
    <p>Cégünk vállalatirányítási rendszert kínál kisebb szervízek számára, hogy hatékonyabban működhessenek.</p>
</div>
